<div class="well" style="width:250px;">

    <h4><%= product.name %></h4>

    <div class="product_image">
      <%= image_tag(product.image, alt:"item")%>
    </div>

    <div class="pricing" style="padding:5px;">
      <%= form_for order_item, remote: true do |f| %>

        <h4 class="text-left">Unit Price: <span style="color: green"><%= number_to_currency order_item.unit_price %></span></h4>
          <div class="quantity_and_buttons">
            <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", style: "padding:3px; width:50px; float:left;",min: 1 %>
            <%= f.hidden_field :product_id, value: product.id %>

            <div class="btn-group" style="float:right;">
              <%= f.submit "Update", class: "btn btn-primary", style:"padding:3px;" %>
              <%= link_to "Delete", order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.name}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger",style:"padding:3px;" } %>
            </div>
          </div>

        <h4 class="text-left" style="clear:both;">Total Price: <span style="color: green;"><%= number_to_currency order_item.total_price %></span></h4>
      <% end %>
  </div>
</div>