<div class='category_partial'>
  <%= link_to category, :action => 'go' do%>
    <div class="category_content">

      <div class="category_image">
        <% if category.image.attached?%>
          <%= image_tag(category.image, alt: "category") %>
        <% end %>
      </div>

      <div class='category_name'>
        <p class='name'>
          <%= link_to category.name, category %>
        </p>
      </div>
    </div>

  <% end %>


    <%= link_to category, :action => 'go' do %>

      <%# <div class="image_overlay">
        <%= image_tag(asset_path('Dragon_Overlay'),alt:"overlay") %>
      <%# </div> %>
    <% end %>

</div>