<div class="show">

  <%= render partial: 'categories/category',
  locals: {category: @category} %>
  <div class="other_info">
    <p>
      <strong>Category:</strong>
      <%= @category.category_id %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @category.description %>
    </p>


    <%= link_to 'Search All', products_path(category:@category.id) %> |
    <%= link_to 'Back', categories_path %>
  </div>
</div>