<div class="product_partial_show">
  <div class="product_content">
    <%= link_to product do %>
      <div class="product_image">
        <% if product.image.attached?%>
          <%= image_tag(product.image, alt:"product") %>
        <% end%>
      </div>
    <% end %>

      <div class='price_name'>
        <h4>
          <%= product.name %>
        </h4>

        <p class="price">
          <%= product.price %>
        </p>
      </div>
    </div>
    <%= link_to product, :action => 'go' do %>

      <div class="image_overlay">
        <%= image_tag('Dragon_Overlay',alt:"overlay") %>
      </div>
    <% end %>
</div>