<div class="product_partial">
  <%= link_to product, :action => 'go' do %>
    <div class="product_content">

      <div class="product_image">
        <% if product.image.attached?%>
          <%= image_tag(product.image, alt:"product") %>
        <% end%>
      </div>

      <div class='price_name'>
        <p class='name'>
          <%= link_to product.name, product %>
        </p>

        <p class='price'>
          <%= number_to_currency(product.price) %>
        </p>
      </div>
    </div>
    <%= link_to product, :action => 'go' do %>

      <div class="image_overlay">
        <%= image_tag('Dragon_Overlay',alt:"overlay") %>
      </div>
    <% end %>
  <% end %>
</div>
