<div class='show'>

  <%= render partial: 'products/product',
  locals: {product: @product} %>

  <div class='other_info'>
    <p class='product_id'>
      <strong>Product:</strong>
      <%= @product.product_id %>
    </p>
    <p class='product_category'>
      <strong>Category:</strong>
      <%= link_to @product.category.name, category_path(@product.category.id) %>
    </p>
    <p class='product_description'>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <br>
    <%# <%= link_to 'Edit', edit_product_path(@product) %>
    <%= link_to 'Back', products_path %>
    <%# <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %></p>

  </div>
</div>
