<div id='show'>
  <p id="notice"><%= notice %></p>

  <%= render partial: 'products/product',
  locals: {product: @product} %>

  <div id='other_info'>
    <p id='product_id'>
      <strong>Product:</strong>
      <%= @product.product_id %>
    </p>
    <p id='product_category'>
      <strong>Category:</strong>
      <%= @product.category_id %>
    </p>
    <p id='product_description'>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
    <br>
    <%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %> |
    <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %></p>

  </div>
</div>
