<!DOCTYPE html>
<html>
  <head>
    <title>Final</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id='header'>
    <%= image_tag ('logo')%>
    <h1>Numb Dragon</h1>

      <div class="search_bar">
        <%= form_tag(products_path method: :get) do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag 'Search', name: nil, id: 'btnsearch' %>
        <% end %>
      </div>

    <nav>
      <ul>
        <li><%= link_to 'Home', products_path %></li>
        <li><%= link_to 'Category', categories_path %></li>
        <li><%= link_to 'About', 'about' %></li>

        <% if user_signed_in? %>
          <li class='account'>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
          </li>
          <li class='account'>
            <%= link_to current_user.email, edit_user_registration_path, :class => 'navbar-link' %>
          </li>
        <% else %>
          <li class='account'>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
          </li>
          <li class='account'>
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
  <br>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert alert-danger"><%= alert %> </p>
  <% end %>
    <%= yield %>
  </body>
</html>
