<!DOCTYPE html>
<html>
  <head>
    <title>Final</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id='header'>
    <%= image_tag ('logo')%>
    <h1>Numb Dragon</h1>
    <nav>
      <ul>
        <li><%= link_to 'Home', products_path %></li>
        <li><%= link_to 'Category', categories_path %></li>
        <li><%= link_to 'About', 'about' %></li>
        <li id='account'>Account</li>
      </ul>
    </nav>
  </div>
  <br>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert alert-danger"><%= alert %> </p>
  <% end %>
    <%= yield %>
  </body>
</html>
