<!DOCTYPE html>
<html>
  <head>
    <title>Final</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <% if request.ssl? %>
      <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
      <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
    <% else %>
      <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
      <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

  </head>

  <body>
    <div id='header'>
      <%# <%= image_tag('logo', alt:"logo")%>
      <h1>Numb Dragon</h1>
      <ul>
        <% if user_signed_in? %>
          <li class='account'>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
          </li>
          <li class='account'>
            <%= link_to current_user.email, edit_user_registration_path, :class => 'navbar-link' %>
          </li>
        <% else %>
          <li class='account'>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
          </li>
          <li class='account'>
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
          </li>
        <% end %>
      </ul>


    </div>

    <nav id='navbar'>
      <ul>
        <li><%= link_to 'Home', products_path %></li>
        <li><%= link_to 'Category', categories_path %></li>
        <li><%= link_to 'About', 'about' %></li>
      </ul>
<%# results_search_index_path %>
        <%= form_tag(results_search_index_path, method: "get", class:"search_bar") do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag 'Search', id: 'btnsearch' %>
        <% end %>
    </nav>

    <div class="content">

    <div class="cart-display">
        <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
    </div>

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="alert alert-danger"><%= alert %> </p>
      <% end %>
      <%= yield %>
    </div>

      <footer class="footer">
        <p>CopyWrong 2019</p>
      </footer>

    <script>
      window.onscroll = function() {myFunction()};

      var navbar = document.getElementById("navbar");
      var sticky = navbar.offsetTop;

      function myFunction() {
        if (window.pageYOffset >= sticky) {
          navbar.classList.add("sticky")
        } else {
          navbar.classList.remove("sticky");
        }
      }
    </script>

  </body>
</html>
